.scrollToTop {
    position: fixed;
    bottom: 40px;
    right: 30px;
    width: 50px;
    height: 50px;
    background: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}

.scrollToTop.show {
    opacity: 1;
    visibility: visible;
}

.scrollToTopIcon {
    color: #007bff; /* Mavi renk */
    font-size: 50px;
    transition: transform 0.3s ease; /* Animasyon için */
}

.scrollToTopIcon:hover {
    transform: translateY(-10px); /* Hover sırasında yukarı hareket ettir */
}
